In [149]:
import numpy as np
import pandas as pd
import seaborn as sns
url='https://raw.githubusercontent.com/AdarSaban/olypmic_project/main/my_porject_csv.csv '
data=pd.read_csv(url)
data.Sport.unique()
data.Sport.value_counts(ascending=True)

Snowboarding                   1
Tug-Of-War                     1
Rugby                          1
Short Track Speed Skating      2
Softball                       2
Curling                        3
Trampolining                   3
Golf                           4
Beach Volleyball               4
Triathlon                      5
Rugby Sevens                   7
Luge                           7
Rhythmic Gymnastics            9
Freestyle Skiing              10
Art Competitions              12
Baseball                      14
Figure Skating                14
Taekwondo                     16
Badminton                     16
Tennis                        17
Modern Pentathlon             20
Archery                       20
Nordic Combined               21
Synchronized Swimming         22
Ski Jumping                   28
Table Tennis                  32
Bobsleigh                     34
Speed Skating                 38
Canoeing                      39
Diving                        42
Biathlon                      42
Volleyball                    48
Ice Hockey                    48
Water Polo                    52
Equestrianism                 53
Cross Country Skiing          55
Judo                          57
Handball                      59
Basketball                    61
Weightlifting                 73
Sailing                       73
Hockey                        89
Cycling                       93
Rowing                        99
Alpine Skiing                101
Boxing                       131
Wrestling                    145
Fencing                      153
Shooting                     167
Football                     174
Gymnastics                   247
Swimming                     247
Athletics                    795
Name: Sport, dtype: int64

In [148]:
data["Age"] = data.groupby('Sport')['Age'].transform(lambda x: x.fillna(x.median()))
data["Height"] = data.groupby('Sport')['Height'].transform(lambda x: x.fillna(x.mean()))
data["Weight"] = data.groupby('Sport')['Weight'].transform(lambda x: x.fillna(x.mean()))
data

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.000000,80.000000,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.000000,60.000000,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,177.277311,72.051282,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.000000,82.000000,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3501,1996,Ali Al-Khalifa,M,33.0,175.000000,65.000000,Bahrain,BRN,1984 Summer,1984,Summer,Los Angeles,Shooting,"Shooting Men's Small-Bore Rifle, Prone, 50 metres",NaN
3502,1997,Salman Al-Khalifa,M,33.0,167.000000,65.000000,Bahrain,BRN,1984 Summer,1984,Summer,Los Angeles,Shooting,Shooting Mixed Trap,NaN
3503,1998,Majid Sultan Al-Khamis,M,25.0,170.000000,75.000000,Kuwait,KUW,1980 Summer,1980,Summer,Moskva,Handball,Handball Men's Handball,NaN
3504,1999,Khaldoun Al-Khashti,M,25.0,189.000000,97.000000,Kuwait,KUW,1996 Summer,1996,Summer,Atlanta,Handball,Handball Men's Handball,NaN
3505,2000,Mubarak Al-Khater,M,18.0,170.000000,68.000000,Qatar,QAT,1984 Summer,1984,Summer,Los Angeles,Football,Football Men's Football,NaN